RewriteEngine On

# Redirect to default page when there is nothing after the domain
RewriteRule ^$ /default.php [L]

# Rewrite any other requests with a parameter
RewriteRule ^([^/]+)/?$ /?account=$1 [L,QSA]